# 进程
PROCESS-NAME,/usr/libexec/nsurlsessiond,LAN
PROCESS-NAME,/System/Library/PrivateFrameworks/CloudKitDaemon.framework/Support/cloudd,LAN
PROCESS-NAME,/opt/LVUAAgentInstBaseRoot/dvc-core-exe,LAN
PROCESS-NAME,/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app/Contents/MacOS/Microsoft Update Assistant.app/Contents/MacOS/Microsoft Update Assistant,LAN // 升级
PROCESS-NAME,/System/Applications/App Store.app/Contents/MacOS/App Store,LAN
PROCESS-NAME,/Applications/企业微信.app/Contents/Resources/WeDrive/v14.17.4/bin/node,LAN
PROCESS-NAME,/Applications/企业微信.app/Contents/Frameworks/企业微信 Helper.app/Contents/MacOS/企业微信 Helper,LAN
PROCESS-NAME,/Applications/企业微信.app/Contents/MacOS/企业微信,LAN
PROCESS-NAME,/Applications/Moonlight.app/Contents/MacOS/Moonlight,LAN
PROCESS-NAME,/Applications/TencentMeeting.app/Contents/MacOS/TencentMeeting,LAN
PROCESS-NAME,/Applications/TickTick.app/Contents/MacOS/TickTick,LAN
PROCESS-NAME,/Library/Application Support/SkyGuard/SkyGuard Endpoint/EndpointAgent/bin/EndpointClientAgent,LAN


#域名
DOMAIN,preview.feed.toolbox.app,LAN
#
DOMAIN-SUFFIX,u-tools.cn,LAN
DOMAIN-SUFFIX,jetbrains.com,LAN
DOMAIN-SUFFIX,intellij.net,LAN
DOMAIN-SUFFIX,apple.com,LAN
DOMAIN-SUFFIX,vivo.com.cn,LAN
DOMAIN-SUFFIX,webfunny.cn,LAN
DOMAIN-SUFFIX,saicfinance.com,LAN
DOMAIN-SUFFIX,saic-finance.com,LAN
DOMAIN-SUFFIX,download.jetbrains.com.cn,LAN
