#-----------------GfwList------------------------
# MyList && Other
DOMAIN-SUFFIX,dler.cloud
DOMAIN-SUFFIX,dlercloud.com
DOMAIN,dl.google.com
DOMAIN,mtalk.google.com
DOMAIN-SUFFIX,googletraveladservices.com
DOMAIN-SUFFIX,1password.com
DOMAIN-SUFFIX,adguard.org
DOMAIN-SUFFIX,bit.no.com
DOMAIN-SUFFIX,btlibrary.me
DOMAIN-SUFFIX,cccat.io
DOMAIN-SUFFIX,cloudcone.com
DOMAIN-SUFFIX,gameloft.com
DOMAIN-SUFFIX,garena.com
DOMAIN-SUFFIX,inoreader.com
DOMAIN-SUFFIX,ip138.com
DOMAIN-SUFFIX,ping.pe
DOMAIN-SUFFIX,teddysun.com
DOMAIN-SUFFIX,tumbex.com
DOMAIN-SUFFIX,twdvd.com
DOMAIN-SUFFIX,unsplash.com
DOMAIN-SUFFIX,xn--i2ru8q2qg.com
DOMAIN-SUFFIX,yunpanjingling.com
DOMAIN-SUFFIX,duyaoss.com
DOMAIN-SUFFIX,merlinblog.xyz
DOMAIN-SUFFIX,skk.moe
DOMAIN-SUFFIX,gitbook.io
DOMAIN-SUFFIX,gitbook.com
DOMAIN-SUFFIX,substack.com
DOMAIN-SUFFIX,a248.e.akamai.net
DOMAIN-SUFFIX,adobedtm.com
DOMAIN-SUFFIX,aolcdn.com
DOMAIN-SUFFIX,armorgames.com
DOMAIN-SUFFIX,awsstatic.com
DOMAIN-SUFFIX,site.tea-51.com
DOMAIN-SUFFIX,bkrtx.com
DOMAIN-SUFFIX,blogcdn.com
DOMAIN-SUFFIX,blogsmithmedia.com
DOMAIN-SUFFIX,cachefly.net
DOMAIN-SUFFIX,cdnst.net
DOMAIN-SUFFIX,comodoca.com
DOMAIN-SUFFIX,deskconnect.com
DOMAIN-SUFFIX,disquscdn.com
DOMAIN-SUFFIX,dropboxstatic.com
DOMAIN-SUFFIX,edgekey.net
DOMAIN-SUFFIX,id.heroku.com
DOMAIN-SUFFIX,io.io
DOMAIN-SUFFIX,kat.cr
DOMAIN-SUFFIX,licdn.com
DOMAIN-SUFFIX,macrumors.com
DOMAIN-SUFFIX,megaupload.com
DOMAIN-SUFFIX,netdna-cdn.com
DOMAIN-SUFFIX,nintendo.net
DOMAIN-SUFFIX,nsstatic.net
DOMAIN-SUFFIX,prfct.co
DOMAIN-SUFFIX,slack-edge.com
DOMAIN-SUFFIX,symauth.com
DOMAIN-SUFFIX,symcb.com
DOMAIN-SUFFIX,symcd.com
DOMAIN-SUFFIX,textnow.com
DOMAIN-SUFFIX,trustasiassl.com
DOMAIN-SUFFIX,tumblr.co
DOMAIN-SUFFIX,txmblr.com
DOMAIN-SUFFIX,vox-cdn.com
# 国外域名
DOMAIN-SUFFIX,eu
DOMAIN-SUFFIX,hk
DOMAIN-SUFFIX,jp
DOMAIN-SUFFIX,kr
DOMAIN-SUFFIX,sg
DOMAIN-SUFFIX,tw
DOMAIN-SUFFIX,uk
DOMAIN-SUFFIX,us
# 国外域名关键字
DOMAIN-KEYWORD,kuailimao
DOMAIN-KEYWORD,appledaily
DOMAIN-KEYWORD,avtb
DOMAIN-KEYWORD,blogspot
DOMAIN-KEYWORD,dropbox
DOMAIN-KEYWORD,gmail
DOMAIN-KEYWORD,google
DOMAIN-KEYWORD,sci-hub   
#Dubox
DOMAIN-SUFFIX,dubox.com
DOMAIN-SUFFIX,duboxcdn.com
# Developer 开发者常用国外网站、镜像和论坛
DOMAIN-SUFFIX,apache.org
DOMAIN-SUFFIX,docker.com
DOMAIN-SUFFIX,elastic.co
DOMAIN-SUFFIX,elastic.com
DOMAIN-SUFFIX,gcr.io
DOMAIN-SUFFIX,gitlab.com
DOMAIN-SUFFIX,gitlab.io
DOMAIN-SUFFIX,jitpack.io
DOMAIN-SUFFIX,maven.org
DOMAIN-SUFFIX,medium.com
DOMAIN-SUFFIX,mvnrepository.com
DOMAIN-SUFFIX,quay.io
DOMAIN-SUFFIX,reddit.com
DOMAIN-SUFFIX,redhat.com
DOMAIN-SUFFIX,sonatype.org
DOMAIN-SUFFIX,sourcegraph.com
DOMAIN-SUFFIX,spring.io
DOMAIN-SUFFIX,spring.net
DOMAIN-SUFFIX,stackoverflow.com
# Spark
DOMAIN-SUFFIX,amplitude.com
DOMAIN-SUFFIX,firebaseio.com
DOMAIN-SUFFIX,hockeyapp.net
DOMAIN-SUFFIX,readdle.com
# TapTap
DOMAIN-SUFFIX,tap.io
DOMAIN-SUFFIX,taptap.tw
# Github
DOMAIN-KEYWORD,github
DOMAIN-SUFFIX,github.com
DOMAIN-SUFFIX,github.io
DOMAIN-SUFFIX,githubassets.com
DOMAIN-SUFFIX,githubapp.com
DOMAIN-SUFFIX,githubusercontent.com
DOMAIN-SUFFIX,rawgit.com
DOMAIN-SUFFIX,rawgithub.com
# Google
DOMAIN-KEYWORD,1e100
DOMAIN-SUFFIX,1e100.net
DOMAIN-SUFFIX,2mdn.net
DOMAIN-SUFFIX,app-measurement.net
DOMAIN-SUFFIX,ggpht.com
DOMAIN-SUFFIX,googleapis.cn
DOMAIN-SUFFIX,googleapis.com
DOMAIN-SUFFIX,gstatic.cn
DOMAIN-SUFFIX,gstatic.com
DOMAIN-SUFFIX,g.co
DOMAIN-SUFFIX,goo.gl
DOMAIN-SUFFIX,gvt0.com
DOMAIN-SUFFIX,gvt1.com
DOMAIN-SUFFIX,xn--ngstr-lra8j.com 
# Google IP
IP-CIDR,35.190.247.0/24,no-resolve
IP-CIDR,35.191.0.0/16,no-resolve
IP-CIDR,64.233.160.0/19,no-resolve
IP-CIDR,66.102.0.0/20,no-resolve
IP-CIDR,66.249.80.0/20,no-resolve
IP-CIDR,72.14.192.0/18,no-resolve
IP-CIDR,74.125.0.0/16,no-resolve
IP-CIDR,108.177.8.0/21,no-resolve
IP-CIDR,108.177.96.0/19,no-resolve
IP-CIDR,130.211.0.0/22,no-resolve
IP-CIDR,172.217.0.0/19,no-resolve
IP-CIDR,172.217.32.0/20,no-resolve
IP-CIDR,172.217.128.0/19,no-resolve
IP-CIDR,172.217.160.0/20,no-resolve
IP-CIDR,172.217.192.0/19,no-resolve
IP-CIDR,172.253.56.0/21,no-resolve
IP-CIDR,172.253.112.0/20,no-resolve
IP-CIDR,173.194.0.0/16,no-resolve
IP-CIDR,173.252.0.0/16,no-resolve
IP-CIDR,209.85.128.0/17,no-resolve
IP-CIDR,216.58.192.0/19,no-resolve
IP-CIDR,216.239.32.0/19,no-resolve  
# GoogleFCM
DOMAIN,alt1-mtalk.google.com
DOMAIN,alt2-mtalk.google.com
DOMAIN,alt3-mtalk.google.com
DOMAIN,alt4-mtalk.google.com
DOMAIN,alt5-mtalk.google.com
DOMAIN,alt6-mtalk.google.com
DOMAIN,alt7-mtalk.google.com
DOMAIN,alt8-mtalk.google.com
IP-CIDR,64.233.177.188/32,no-resolve
IP-CIDR,64.233.186.188/32,no-resolve
IP-CIDR,64.233.187.188/32,no-resolve
IP-CIDR,64.233.188.188/32,no-resolve
IP-CIDR,64.233.189.188/32,no-resolve
IP-CIDR,74.125.23.188/32,no-resolve
IP-CIDR,74.125.24.188/32,no-resolve
IP-CIDR,74.125.28.188/32,no-resolve
IP-CIDR,74.125.127.188/32,no-resolve
IP-CIDR,74.125.137.188/32,no-resolve
IP-CIDR,74.125.203.188/32,no-resolve
IP-CIDR,74.125.204.188/32,no-resolve
IP-CIDR,74.125.206.188/32,no-resolve
IP-CIDR,108.177.125.188/32,no-resolve
IP-CIDR,142.250.4.188/32,no-resolve
IP-CIDR,142.250.10.188/32,no-resolve
IP-CIDR,142.250.31.188/32,no-resolve
IP-CIDR,142.250.96.188/32,no-resolve
IP-CIDR,172.217.194.188/32,no-resolve
IP-CIDR,172.217.218.188/32,no-resolve
IP-CIDR,172.217.219.188/32,no-resolve
IP-CIDR,172.253.63.188/32,no-resolve
IP-CIDR,172.253.122.188/32,no-resolve
IP-CIDR,173.194.175.188/32,no-resolve
IP-CIDR,173.194.218.188/32,no-resolve
IP-CIDR,209.85.233.188/32,no-resolve
#Wikipedia
DOMAIN-SUFFIX,mediawiki.org
DOMAIN-SUFFIX,wikibooks.org
DOMAIN-SUFFIX,wikidata.org
DOMAIN-SUFFIX,wikileaks.org
DOMAIN-SUFFIX,wikimedia.org
DOMAIN-SUFFIX,wikinews.org
DOMAIN-SUFFIX,wikipedia.org
DOMAIN-SUFFIX,wikiquote.org
DOMAIN-SUFFIX,wikisource.org
DOMAIN-SUFFIX,wikiversity.org
DOMAIN-SUFFIX,wikivoyage.org
DOMAIN-SUFFIX,wiktionary.org
#cloudflare CDN 
DOMAIN-SUFFIX,ajax.cloudflare.com
DOMAIN-SUFFIX,cdnjs.cloudflare.com
